Repository nltk/nltk, pull requests merged in 2018-10, with the labels that each got.

#2067 Fix for mutable default argument
  AUTHORS.md
  nltk/test/tokenize.doctest
  nltk/tokenize/punkt.py
Labels: tokenizer

#1856 Fix issue ArabicStemmer AttributeError #1852
  nltk/stem/snowball.py
  nltk/test/unit/test_stem.py
Labels: corpus, stem/lemma

#2152 Added correct universal tag mappings for Russian pos_tag model
  nltk/tag/__init__.py
  nltk/tag/mapping.py
  nltk/test/unit/test_pos_tag.py
Labels: tagger, tests
