Repository nltk/nltk, pull requests merged in 2018-08, with the labels that each got.

#2092 Fixed warning messages for corenlp
  nltk/parse/stanford.py
Labels: documentation, stanford api

#2099 Added unittest for brill
  nltk/test/unit/test_brill.py
Labels: classifier, tagger, tests

#2065 Added Two functions to that are missing in the _WordNetObject class.
  nltk/corpus/reader/wordnet.py
Labels: corpus, wordnet
