Repository nltk/nltk, pull requests merged in 2018-11, with the labels that each got.

#2169 Update decorators.py
  nltk/decorators.py
Labels: internals

#2165 fix ResourceWarning: unclosed file
  nltk/data.py
  nltk/test/unit/test_seekable_unicode_stream_reader.py
Labels: bug, corpus, python3

#2039 Added Cistem Stemmer for German
  nltk/stem/__init__.py
  nltk/stem/cistem.py
Labels: stem/lemma

#2018 Adding improved regexes to handle clitics c.f. #1995
  nltk/test/unit/test_tokenize.py
  nltk/tokenize/__init__.py
Labels: tokenizer

#1965 Fixed issue #1915, where UAS and LAS were swapped
  nltk/parse/evaluate.py
Labels: bug
