Repository nltk/nltk, pull requests merged in 2018-05, with the labels that each got.

#1998 Hotfix/texttiling unbound local variable
  AUTHORS.md
  nltk/test/tokenize.doctest
  nltk/tokenize/texttiling.py
Labels: pythonic, tests, tokenizer

#1840 Cleaned up NIST mean aggregation
  nltk/test/unit/translate/test_nist.py
  nltk/translate/nist_score.py
Labels: SMT, bug, resolved

#2026 Fixed print_concordance()
  nltk/text.py
Labels: bug, corpus

#2027 Added "percents" argument to plot() functions
  nltk/probability.py
Labels: book, plot
