Repository nltk/nltk, pull requests merged in 2018-04, with the labels that each got.

#2001 Delete moses.py
  nltk/tokenize/moses.py
Labels: admin, tokenizer

#2002 Fix nonescaped openning bracket in stating quote
  nltk/tokenize/treebank.py
Labels: enhancement, tokenizer

#2007 Install matplotlib explicitly after pip install -r
  jenkins.sh
Labels: CI, bug
