Repository nltk/nltk, pull requests merged in 2019-07, with the labels that each got.

#2291 Added an improved panlex swadesh reader
  nltk/corpus/__init__.py
  nltk/corpus/reader/__init__.py
  nltk/corpus/reader/panlex_swadesh.py
Labels: corpus, enhancement

#2336 Fixes some spurious typos and checks
  nltk/parse/malt.py
  nltk/test/corpus.doctest
  nltk/test/unit/test_wordnet.py
Labels: CI, LGTM, bug

#2337 Added Command Line Interface (CLI) for word_tokenize
  nltk/cli.py
  nltk/util.py
  setup.py
Labels: cli

#2342 Missing denominator in smoothing function 4 for BLEU scores.
  nltk/translate/bleu_score.py
Labels: SMT, bug

#2322 Corrected asterisk and dotdot* on punctuation list for word_tokenize
  nltk/test/unit/test_tokenize.py
  nltk/tokenize/__init__.py
  nltk/tokenize/treebank.py
Labels: LGTM, tokenizer

#2311 None/boolean feature values in decision tree output: pretty_format() and pseudocode()
  AUTHORS.md
  nltk/classify/decisiontree.py
  nltk/classify/naivebayes.py
  nltk/test/classify.doctest
Labels: python3
