Repository nltk/nltk, pull requests merged in 2019-09, with the labels that each got.

#2289 Retrying Cythonize
  .gitignore
  .travis.yml
  Makefile
  setup.py
  tools/travis/install.sh
  tox.ini
Labels: CI, admin, installation, pythonic

#2307 Extension of vader rules
  nltk/sentiment/sentiment_analyzer.py
  nltk/sentiment/util.py
  nltk/sentiment/vader.py
  nltk/util.py
Labels: sentiment

#2408 Move source transpiling with Cython into custom build command
  .travis.yml
  nltk/metrics/segmentation.py
  nltk/parse/dependencygraph.py
  nltk/tokenize/stanford.py
  nltk/tokenize/stanford_segmenter.py
  setup.cfg
  setup.py
  tools/travis/install.sh
  tox.ini
Labels: CI, LGTM
