Repository nltk/nltk, pull requests merged in 2019-08, with the labels that each got.

#2364 Formatargspec deprecation warning
  AUTHORS.md
  nltk/decorators.py
Labels: LGTM, python3

#2370 Isolate imports for parallelization inside function.
  nltk/util.py
Labels: CI, LGTM, admin, tests

#2368 add SyllableTokenizer import to SyllableTokenizer docstring
  nltk/tokenize/sonority_sequencing.py
Labels: documentation, tests, tokenizer

#2366 Fix JSON serialization of some PoS taggers
  AUTHORS.md
  CONTRIBUTING.md
  nltk/tag/brill_trainer.py
  nltk/tag/perceptron.py
  nltk/tag/sequential.py
  nltk/tbl/feature.py
  nltk/tbl/rule.py
  nltk/tbl/template.py
  nltk/test/unit/test_json_serialization.py
Labels: LGTM, internals, tagger
