Repository nltk/nltk, pull requests merged in 2019-06, with the labels that each got.

#2298 Added QuadgramAssocMeasures
  nltk/collocations.py
  nltk/metrics/__init__.py
  nltk/test/collocations.doctest
  nltk/test/metrics.doctest
Labels: LGTM, metrics

#2287 don't require lists as arguments to PositiveNaiveBayesClassifier.train
  nltk/classify/positivenaivebayes.py
Labels: LGTM, tagger

#2205 add SSP to tokenizers
  AUTHORS.md
  nltk/test/unit/test_tokenize.py
  nltk/tokenize/__init__.py
  nltk/tokenize/sonority_sequencing.py
Labels: LGTM, tokenizer

#2286 Patch Tree classes to work with native Python copy library
  nltk/tree.py
Labels: LGTM, parsing

#2285 Fix ConditionalFreqDist mutation on tabulate/plot call
  AUTHORS.md
  nltk/probability.py
  nltk/test/unit/test_cfd_mutation.py
Labels: LGTM

#2170 using sudo is dangerous
  AUTHORS.md
  web/install.rst
Labels: LGTM, documentation, installation

#2240 Make plot methods return Axes objects
  AUTHORS.md
  nltk/probability.py
Labels: LGTM, plot

#2216 Simplify code and fix inconsistency for NomBank
  AUTHORS.md
  nltk/corpus/reader/nombank.py
  nltk/test/unit/test_nombank.py
Labels: LGTM, corpus, wordnet

#2125 Return probability-based measure of confidence of best tag from AveragedPerceptron
  AUTHORS.md
  nltk/tag/perceptron.py
Labels: LGTM, tagger
