Repository nltk/nltk, pull requests merged in 2021-11, with the labels that each got.

#2872 Corrected __init__ call for SyntaxCorpusReader subclasses
  nltk/corpus/reader/bracket_parse.py
  nltk/corpus/reader/dependency.py
  nltk/corpus/reader/knbc.py
Labels: corpus

#2868 Rewind Wordnet data file after each lookup
  nltk/corpus/reader/wordnet.py
Labels: wordnet

#2877 Fixed several TreebankWordTokenizer and NLTKWordTokenizer bugs
  nltk/test/tokenize.doctest
  nltk/tokenize/__init__.py
  nltk/tokenize/destructive.py
  nltk/tokenize/treebank.py
Labels: enhancement, bug, tokenizer, needs review

#2863 Partition `tree.py` module into `tree` package + pickle fix
  nltk/__init__.py
  nltk/test/tree.doctest
  nltk/test/treeprettyprinter.doctest
  nltk/test/treetransforms.doctest
  nltk/tree/__init__.py
  nltk/tree/immutable.py
  nltk/tree/parented.py
  nltk/tree/parsing.py
  nltk/tree/prettyprinter.py
  nltk/tree/probabilistic.py
  nltk/tree/transforms.py
  nltk/tree/tree.py
  nltk/treeprettyprinter.py
  nltk/treetransforms.py
Labels: bug

#2888 Allow empty string in CFG's + more
  nltk/grammar.py
  nltk/parse/generate.py
  nltk/parse/util.py
  nltk/parse/viterbi.py
  nltk/test/generate.doctest
  nltk/test/grammar.doctest
  nltk/test/parse.doctest
Labels: enhancement, parsing

#2883 Deprecate 'return_str' parameter in NLTKWordTokenizer and TreebankWordTokenizer
  AUTHORS.md
  nltk/tokenize/destructive.py
  nltk/tokenize/treebank.py
Labels: tokenizer, deprecation

#2793 Added multi Bleu functionality and tests
  nltk/test/bleu.doctest
  nltk/test/unit/translate/test_bleu.py
  nltk/translate/bleu_score.py
Labels: enhancement, SMT, nice idea

#2878 Improved Tokenize documentation + added TokenizerI as superclass for TweetTokenizer
  nltk/test/tokenize.doctest
  nltk/tokenize/api.py
  nltk/tokenize/casual.py
  nltk/tokenize/destructive.py
  nltk/tokenize/treebank.py
Labels: documentation, tokenizer

#2881 Clean up root directory
  .travis.yml
  jenkins-job-config.xml
  jenkins.sh
Labels: discussion

#2869 Resolved serious ReDoS in PunktSentenceTokenizer
  nltk/tokenize/punkt.py
Labels: bug, tokenizer

#2880 Add `CITATION.cff` to nltk
  CITATION.cff
Labels: documentation, admin

#2896 Make "hack to keep NLTKs tokenize module" work with pathlib objects
  nltk/decorators.py
Labels: installation

#2889 Use Multilingual Wordnet Data from OMW with newer Wordnet versions
  nltk/corpus/__init__.py
  nltk/corpus/reader/wordnet.py
Labels: wordnet
