Repository nltk/nltk, pull requests merged in 2021-12, with the labels that each got.

#2903 Fixed broken inaugural test case
  nltk/test/corpus.doctest
Labels: tests, CI

#2900 deprecate: deprecate get and set node methods
  nltk/tree/tree.py
Labels: deprecation

#2899 Support OMW 1.4
  nltk/corpus/reader/wordnet.py
  nltk/test/wordnet.doctest
Labels: wordnet

#2906 Resolve ReDoS opportunity by fixing incorrectly specified regex
  nltk/parse/malt.py
  nltk/sem/glue.py
  nltk/tag/brill.py
  nltk/tag/brill_trainer.py
  nltk/tag/sequential.py
  nltk/tbl/demo.py
Labels: bug

#2907 Renamed omw to omw-1.4
  nltk/corpus/__init__.py
Labels: wordnet, critical

#2910 Fix `FileNotFoundError` when the `download_dir` is a non-existing nested folder
  AUTHORS.md
  nltk/downloader.py
  nltk/test/unit/test_downloader.py
Labels: installation

#2908 Added warnings if nltk_data `.zip` files exist without any corresponding `.xml` files.
  nltk/downloader.py
Labels: admin

#2862 Add Precision, Recall, F-measure, Confusion Matrix to Taggers
  nltk/chunk/api.py
  nltk/metrics/confusionmatrix.py
  nltk/tag/__init__.py
  nltk/tag/api.py
  nltk/tag/brill_trainer.py
  nltk/tag/crf.py
  nltk/tag/perceptron.py
  nltk/tag/tnt.py
  nltk/tbl/demo.py
  nltk/test/metrics.doctest
  nltk/test/probability.doctest
  nltk/test/tag.doctest
Labels: enhancement, tagger, metrics

#2914 Refactor `gensim.doctest` to work for gensim 4.0.0 and up
  nltk/test/gensim.doctest
  pip-req.txt
  requirements-ci.txt
  setup.py
Labels: tests

#2920 Drop support for Python 3.6, support Python 3.10
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  nltk/__init__.py
  setup.py
  tox.ini
  web/dev/local_testing.rst
  web/install.rst
Labels: documentation, admin, enhancement, deprecation
