Repository nltk/nltk, pull requests merged in 2021-09, with the labels that each got.

#2795 Use global regex for TweetTokenizer's remove_handles
  nltk/tokenize/casual.py
Labels: enhancement, tokenizer

#2803 build: add matplotlib in deps section
  tox.ini
Labels: bug, tests

#2799 Improved the removal of twitter handles
  nltk/test/unit/test_tokenize.py
  nltk/tokenize/casual.py
Labels: enhancement, tokenizer

#2801 Final py3.9 deprecation
  nltk/test/unit/test_util.py
  nltk/util.py
Labels: enhancement, tests, pythonic

#2804 refactor: refactor sentiment analyzer by removing dead and slow perfomance code
  nltk/sentiment/sentiment_analyzer.py
Labels: enhancement

#2736 Edit_distance now computes the actual Damerau-Levenshtein edit-distance
  nltk/metrics/distance.py
  nltk/test/unit/test_distance.py
Labels: metrics

#2815 Refactored CISTEM Stemmer for German
  nltk/stem/cistem.py
Labels: enhancement, stem/lemma

#2798 feat: enable phone number regex to recognize phone numbers
  nltk/test/unit/test_tokenize.py
  nltk/tokenize/casual.py
Labels: enhancement, tokenizer

#2816 Resolved ReDoS vulnerability in Corpus Reader
  nltk/corpus/reader/comparative_sents.py
  nltk/test/corpus.doctest
Labels: corpus, bug, needs review

#2810 Deprecate `nltk.usage(obj)` in favor of `help(obj)`
  nltk/test/classify.doctest
  nltk/test/unit/test_util.py
  nltk/util.py
Labels: deprecation

#2823 Breaking issue - Fix regression from #2819
  nltk/stem/wordnet.py
Labels: bug, installation, internals, critical

#2821 Resolved NameError bug in raising Exception for RegexpTagger
  nltk/tag/sequential.py
Labels: bug, tagger, needs review
