Repository nltk/nltk, pull requests merged in 2021-07, with the labels that each got.

#2761 Replaced Travis info with GitHub Actions info in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#2722 Initialize WordNet IC total counts with smoothing value
  nltk/corpus/reader/wordnet.py
  nltk/test/wordnet.doctest
Labels: wordnet

#2768 Resolved ZeroDivisionError in RIBES with dissimilar sentences
  nltk/test/unit/test_ribes.py
  nltk/translate/ribes_score.py
Labels: SMT, metrics
