Repository nltk/nltk, pull requests merged in 2021-08, with the labels that each got.

#2769 Prevent `debug_decisions` in Punkt from throwing IndexError
  nltk/test/unit/test_tokenize.py
  nltk/tokenize/punkt.py
Labels: tokenizer

#2772 Fixed issue on platforms that use `\r\n` line-endings when writing CSV files
  nltk/twitter/common.py
Labels: bug, windows related

#2763 Fixed large error in METEOR score, see #2751
  nltk/test/meteor.doctest
  nltk/translate/meteor_score.py
Labels: pleaseverify

#2740 Visualize WordNet relation graphs using Graphviz
  nltk/corpus/reader/wordnet.py
  nltk/parse/dependencygraph.py
  nltk/util.py
Labels: wordnet

#2713 Fix bug in nltk.metrics.aline, C_skip = -10
  nltk/metrics/aline.py
  nltk/test/unit/test_aline.py
Labels: metrics
