Repository nltk/nltk, pull requests merged in 2022-09, with the labels that each got.

#3043 Resolve CoreNLP Regression
  nltk/parse/corenlp.py
Labels: bug, parsing

#3042 Perf/syllable tokenize
  nltk/test/unit/test_tokenize.py
  nltk/tokenize/sonority_sequencing.py
Labels: bug, tokenizer

#3044 Read `bool` field from Verbnet
  nltk/corpus/reader/verbnet.py
  nltk/test/corpus.doctest
Labels: corpus, bug

#3048 Fix doctests in dependencygraph.py
  nltk/parse/dependencygraph.py
  nltk/tag/hunpos.py
  nltk/test/discourse_fixt.py
  nltk/test/inference.doctest
  nltk/test/inference_fixt.py
  nltk/test/nonmonotonic.doctest
  nltk/test/nonmonotonic_fixt.py
  nltk/test/setup_fixt.py
Labels: tests

#3055 Prefix regexes with r to avoid 'invalid escape sequence' Deprecation warnings
  nltk/tokenize/regexp.py
Labels: deprecation
