Repository nltk/nltk, pull requests merged in 2022-12, with the labels that each got.

#3081 Provide type hints for LazyCorpusLoader variables
  nltk/corpus/__init__.py
  nltk/corpus/europarl_raw.py
Labels: corpus

#3080 Throw warning when `LanguageModel` is initialized with incorrect vocabulary
  nltk/lm/api.py
Labels: language-model

#3078 Fix wordnet's all_synsets() function
  nltk/corpus/reader/wordnet.py
  nltk/test/wordnet.doctest
Labels: corpus, wordnet

#3060 Support both iso639-3 codes and BCP-47 language tags
  nltk/corpus/__init__.py
  nltk/corpus/reader/__init__.py
  nltk/corpus/reader/bcp47.py
  nltk/langnames.py
Labels: corpus

#3086 Add a note stating that a hashtag is unsupported in VADER
  nltk/sentiment/vader.py
Labels: documentation, sentiment

#3090 Add Python 3.11 to CI & documentation
  .github/workflows/ci.yaml
  README.md
  nltk/__init__.py
  setup.py
  tox.ini
  web/install.rst
Labels: admin, CI

#3091 Temporarily remove `python-crfsuite` from CI dependencies & skip tests
  nltk/tag/crf.py
  requirements-ci.txt
Labels: admin, tests, tagger

#3096 Resolve XSS vulnerability in local Wordnet browser
  nltk/app/wordnet_app.py
Labels: bug, GUI

#3097 Update weblinks for the Open Multilingual Wordnet
  nltk/corpus/reader/wordnet.py
Labels: corpus, wordnet

#3099 Remove unused tool scripts
  tools/jenkins/pre-install.sh
  tools/nltk_term_index.py
  tools/nltk_term_index.stoplist
  tools/run_doctests.py
  tools/svnmime.py
  tools/travis/coverage-pylint.sh
  tools/travis/install.sh
  tools/travis/pre-install.sh
  tools/travis/third-party.sh
  tools/travis/travis-ci-commenter.sh
Labels: admin
