Repository nltk/nltk, pull requests merged in 2023-02, with the labels that each got.

#3116 Support Open English Wordnet 2022
  nltk/corpus/__init__.py
Labels: corpus

#3118 Allow to map more wordnet versions
  nltk/corpus/reader/wordnet.py
Labels: corpus, wordnet

#3085 For FreqDist plotting, no longer show plot by default
  nltk/probability.py
Labels: plot
