Repository nltk/nltk, pull requests merged in 2023-12, with the labels that each got.

#3213 ci: update actions
  .github/workflows/ci.yaml
Labels: CI

#3214 ci: update labeler to v5, change config file to new format
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: CI

#3207 fix: enable py 3.12 in ci and fix error in bleu calculation
  .github/workflows/ci.yaml
  README.md
  nltk/test/unit/translate/test_bleu.py
  nltk/translate/bleu_score.py
  setup.py
Labels: CI

#3183 Refactoring
  nltk/classify/textcat.py
  nltk/corpus/reader/framenet.py
  nltk/metrics/aline.py
  nltk/metrics/confusionmatrix.py
  nltk/translate/api.py
Labels: corpus, classifier, metrics

#3199 Fix dunning log likelihood ValueError
  AUTHORS.md
  nltk/test/unit/test_tokenize.py
  nltk/tokenize/punkt.py
Labels: tokenizer

#3215 quickfix syntax / typo
  nltk/chat/eliza.py
  nltk/metrics/aline.py
  nltk/metrics/confusionmatrix.py
Labels: metrics

#3216 sunset python 3.7
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  README.md
  nltk/__init__.py
  setup.py
  tox.ini
  web/dev/local_testing.rst
  web/install.rst
Labels: CI

#3217 upgrade automated code checks
  .pre-commit-config.yaml
  nltk/classify/naivebayes.py
  nltk/translate/chrf_score.py
  nltk/translate/ibm1.py
  nltk/translate/ibm2.py
  nltk/translate/ibm3.py
  nltk/translate/ibm4.py
  nltk/translate/ibm5.py
  nltk/translate/ibm_model.py
Labels: classifier

#3126 Avoid duplicate merged OMW synsets and lemmas
  nltk/corpus/reader/wordnet.py
Labels: corpus, wordnet

#3221 add workaround for cache sometimes not being restored correctly on macos
  .github/workflows/ci.yaml
Labels: CI
