Repository nltk/nltk, pull requests merged in 2024-07, with the labels that each got.

#3274 Fixing CI/CD
  .pre-commit-config.yaml
  nltk/corpus/reader/framenet.py
  nltk/corpus/reader/mte.py
  nltk/corpus/reader/plaintext.py
  nltk/lazyimport.py
  nltk/metrics/aline.py
  nltk/metrics/segmentation.py
  nltk/parse/stanford.py
  nltk/parse/transitionparser.py
  nltk/stem/porter.py
  nltk/stem/snowball.py
  nltk/tag/perceptron.py
  nltk/tbl/template.py
  nltk/test/all.py
  nltk/test/twitter.ipynb
  nltk/test/unit/lm/test_models.py
  nltk/test/unit/test_aline.py
  nltk/test/unit/test_classify.py
  nltk/test/unit/test_corpora.py
  nltk/test/unit/test_corpus_views.py
  nltk/test/unit/test_disagreement.py
  nltk/test/unit/test_pos_tag.py
  nltk/test/unit/test_tgrep.py
  nltk/test/unit/test_tokenize.py
  nltk/test/unit/test_wordnet.py
  nltk/translate/bleu_score.py
Labels: corpus, tagger, parsing, stem/lemma, metrics

#3280 fix python version for pre-commit as a workaround
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Labels: CI

#3271 Removed PickleCorpusView
  nltk/corpus/reader/util.py
Labels: corpus, critical

#3270 Pickle-less average perceptron tagger
  nltk/tag/__init__.py
  nltk/tag/perceptron.py
  nltk/test/tag.doctest
Labels: tagger, critical

#3268 fix miscellaneous minor misspelled words
  nltk/tokenize/destructive.py
  nltk/tokenize/nist.py
  nltk/tokenize/punkt.py
Labels: tokenizer

#3224 fix for word_tokenize() Failing to Split English Contractions When Followed by [\t\n\f\r]
  nltk/tokenize/destructive.py
Labels: tokenizer

#3272 Pickless-less tagsets helper
  nltk/compat.py
  nltk/help.py
  nltk/test/unit/test_pos_tag.py
Labels: critical

#3265 Fix k-alpha for expected disagreement equals 0
  nltk/metrics/agreement.py
  nltk/test/unit/test_disagreement.py
Labels: metrics

#3286 Pickle-free maxent chunkers
  nltk/chunk/__init__.py
  nltk/chunk/named_entity.py
  nltk/classify/maxent.py
  nltk/compat.py
  nltk/tabdata.py
Labels: classifier
