Repository nltk/nltk, pull requests merged in 2024-08, with the labels that each got.

#3283 Load PunktParameters from tab files
  nltk/chunk/__init__.py
  nltk/compat.py
  nltk/corpus/reader/plaintext.py
  nltk/metrics/agreement.py
  nltk/sentiment/util.py
  nltk/tabdata.py
  nltk/test/data.doctest
  nltk/test/portuguese.doctest_latin1
  nltk/test/portuguese_en.doctest
  nltk/test/unit/test_disagreement.py
  nltk/tokenize/__init__.py
  nltk/tokenize/punkt.py
Labels: corpus, tokenizer, metrics, sentiment

#3300 Use a lru cache when instantiating PunktTokenizer
  nltk/tokenize/__init__.py
Labels: tokenizer

#3296 Fix for https://github.com/nltk/nltk/issues/3294
  nltk/tokenize/punkt.py
Labels: tokenizer

#3303 Use LRU cache when getting POS tagger
  AUTHORS.md
  nltk/tag/__init__.py
Labels: tagger

#3306 Don't add PY3 in data path
  nltk/collections.py
  nltk/corpus/reader/wordnet.py
  nltk/data.py
  nltk/test/unit/test_wordnet.py
  nltk/util.py
Labels: corpus

#3225 Avoid recursive suffix stripping in wordnet morphy
  nltk/corpus/reader/wordnet.py
  nltk/stem/wordnet.py
Labels: corpus, stem/lemma

#3145 Set reachable depth for generate
  nltk/parse/generate.py
Labels: parsing

#3309 Fix bug in WordNetLemmatizer
  nltk/stem/wordnet.py
Labels: stem/lemma

#3311 Load Punkt collocations as a set
  nltk/tokenize/punkt.py
Labels: tokenizer
